@keyframes anim-shake-to-left {
  0% {
    transform: rotateZ(10deg);
  }

  20% {
    transform: rotateZ(-5deg);
  }

  40% {
    transform: rotateZ(3deg);
  }

  70% {
    transform: rotateZ(-1deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

.anim-shake-to-left {
  transform-origin: 50% 200%;
  animation: anim-shake-to-left 0.75s ease-in-out;
}
